body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0529f378;
}

h1 {
    text-align: center;
}

table{
    text-align: center;
    font-weight: bold;
}

p{
    text-indent: 20px;
}

h3{
    background-color: #8b9ef5;
    color: white;
    line-height: 30px;
    padding-left:10px;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #746bf35e;
}

.dt {
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 0;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
}
